# Practical exercise on Jupyter Notebook

## Introduction
In this practical exercise, we will be using Jupyter Notebook to apply key concepts, run Python code etc...

### Data science languages
* Python
* R

### Data science librairies
This is an ordered list of data science libraries
1. Scikit learn
2. TensorFlow
3. caret
4. randomForest

### Table of data science tools
|Term of tool| Definition|
|------------|---|
|Apache MLlib|Language that makes machine learning scalable|
|Apache Spark|A general-purpose cluster-computing framework allowing you to process data using compute clusters|
|API|Application programming interface allows communication between two pieces of software|

### Arithmetic expression examples
Arithmetic expressions perform mathematical operations
- `+` (Addition) 
- `-` (Subtraction)
- `*` (Multiplication)
- `/` (Division)
- `**` (Exponentiation)
- `%` (Modulus)

### Multiplication and addition

In [7]:
x=5
y=7
# Multiplication
multiplication_result=x * y
print(multiplication_result)

35

In [8]:
# Addition
addition_multiplication=x + y
print(addition_multiplication)

12

### Convert minutes to hours

In [9]:
minutes = 798
hours = minutes / 60
print(f"{minutes} is equal to {hours} hours")

798 is equal to 13.3 hours

### Objectives of this pratical exercise
Here are the objectives of this practical exercise that we executed above
* Create a markdown cell for an introduction
* Create a markdown cell to list data science languages
* Create a markdown cell to list data science libraries
* Create a markdown cell with a table of Data Science tools
* Create a markdown cell introducing arithmetic expression examples
* Create a code cell to multiply and add numbers
* Create a code cell to convert minutes to hours

### Author's name
Diassibo Jean Marc NATAMA